body {
  margin: 0;
  background-color: #20262e;
  font-family: Helvetica;
}

section {
  width: 70%;
  padding: 5px;
  border-radius: 10px;
  background-color: #465263;
  margin-bottom: 50px;
}

input {
  width: 90%;
  height: 25px;
  border-radius: 10px;
  background-color: #5f6f87;
  color: white;
}

.cursor {
  cursor: pointer;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex.between {
  justify-content: space-between;
}

.flex.evenly {
  justify-content: space-evenly;
}

.container {
  width: 40%;
}

.navLink {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.navLink.selected {
  color: initial;
  cursor: default;
}

.row {
  width: 70%;
  align-items: flex-start;
}

.row.two section {
  width: 40%;
}

#backButton {
  background-color: #465263;
  width: 50px;
  height: 50px;
  border: solid 2px #20262e;
  border-radius: 100%;
  position: absolute;
  top: 5px;
  left: 5px;
}
#backButton button {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 780px) {
  .row {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .row.two section {
    width: 70%;
  }
  .container {
    width: 100%;
  }
  .smallCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
